.section-padding {
  padding: 3rem 0;
}

/* about */
.about-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  min-height: 60vw;
  grid-row-gap: 4rem;
}

/* hide && show about */
.hide-left {
  transform: translateX(-150%);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.hide-right {
  transform: translateX(150%);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.show-about {
  transform: translateX(0%);
  opacity: 1;
}
/* hide && show about */

/* grid container */
.grid-container {
  max-width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-row-gap: 2rem;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .grid-container--medium-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    overflow: hidden;
  }

  .grid-container {
    max-width: 95vw;
  }
}

.about {
  &__title {
    padding: 1.5rem 0;
  }
  &__title-name {
    font-size: 3.5rem;
    text-transform: capitalize;
    color: $nature-green;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem;
  }

  &__title-underline {
    background: $nature-green;
    width: 10rem;
    padding: 0.1rem;
    display: inline-block;
  }

  &__title-text {
    letter-spacing: 0.1rem;
    font-size: 1.9rem;
    margin-top: 2.5rem;
    color: $deepSky-blue;
  }

  &__img-item {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0.25rem;
    border: 0.1rem solid $deepSky-blue;
    object-fit: cover;
  }

  &__presentation-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;

    @media screen and (max-width: 768px) {
      align-items: flex-start;
    }
  }

  &__visit-buttons {
    width: 100%;
    height: 5.5rem;
    margin-bottom: 1.5rem;
    outline: none;
  }
}

@media screen and (min-width: 992px) {
  .about__img-special {
    order: -1;
  }
  .about-container {
    grid-template-rows: 1fr 1fr;
  }
}
/* end-about */
