.map {
  width: 100%;
  min-height: 70vh;
  margin: 2.7rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-item {
  width: 95vw;
  min-height: 60vh;
  border-radius: 0.3rem;
  margin: 0 auto;
}
