.header__margin--0 {
  margin: 0;
}

.introduction {
  width: 100%;

  &__container {
    width: 100%;
    min-height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: showIntroduction 0.8s ease-in-out;

    @media screen and (max-width: 1024px) {
      animation: none;
      width: 100%;
    }
  }

  &__underline {
    width: 95%;
    margin: 6rem auto;
    background-color: #e0e0e0;
    padding: 0.1rem;
  }

  &__img-container {
    margin-bottom: 4rem;
    width: 100%;
    min-height: 50vh;
    background-image: url("../../img/whatWeDoIntro.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;

    @media screen and (max-width: 1024px) {
      animation: none;
      width: 100%;
    }
  }

  &__header {
    font-size: 4.5rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: $light-grey;
    padding: 1rem 2rem;
    width: 30%;
    text-align: center;
    background-color: rgba(98, 168, 54, 0.6);
    border-radius: 0.5rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 992px) {
      font-size: 3.8rem;
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      font-size: 3.8rem;
      width: 80%;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.9rem;
    color: $deepSky-blue;
    letter-spacing: 0.1rem;
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 95%;
    }
  }
}
