*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 59.5%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 58.5%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 57.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55.5%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #f3f3f3;
  overflow-x: hidden;
  -webkit-font-smoothing: antialised;
}

/* Color variables */
/* Color variables */
.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
}

.preloader-loading {
  width: 8rem;
}

.hide-preloader {
  display: none;
}

.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../img/headerBcg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  /* Banner */
  /* End Banner */
}

.header__banner {
  width: 100%;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vh;
}

.header__title {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  letter-spacing: 0.2rem;
  color: #e3e2df;
  font-weight: 300;
  text-align: center;
  display: block;
  -webkit-animation: bannerTitle 0.8s ease-in-out;
          animation: bannerTitle 0.8s ease-in-out;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .header__title {
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 3.8rem;
  }
}

.header__banner-links {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.8rem;
  -webkit-animation: bannerLinks 0.8s ease-in-out;
          animation: bannerLinks 0.8s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .header__banner-links {
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 768px) {
  .header__banner-links {
    font-size: 4.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__banner-link {
  text-decoration: none;
  outline: none;
}

.header__banner--contact:link, .header__banner--contact:visited {
  display: block;
  color: #e3e2df;
  padding: 0.3rem 2.3rem;
  border: 0.1rem solid #e3e2df;
  background-color: #62a836;
  font-size: 2.2rem;
  border-radius: 0.3rem;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .header__banner--contact:link, .header__banner--contact:visited {
    font-size: 1.8rem;
  }
}

.header__banner--contact:hover {
  background-color: #509227;
}

@media screen and (max-width: 992px) {
  .header__banner--contact:hover {
    background-color: #62a836;
  }
}

.header__banner--fb:link, .header__banner--fb:visited {
  display: inline-block;
  font-size: 4rem;
  color: #3b5998;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

@media screen and (max-width: 768px) {
  .header__banner--fb:link, .header__banner--fb:visited {
    font-size: 3.2rem;
  }
}

.header__banner--fb:hover {
  color: #233968;
}

@media screen and (max-width: 1024px) {
  .header__banner--fb:hover {
    color: #3b5998;
  }
}

.header__banner-number {
  font-size: 2.1rem;
  color: #e3e2df;
  margin: 0 3rem;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 768px) {
  .header__banner-number {
    font-size: 1.8rem;
    margin: 1.5rem 3rem;
  }
}

/* Menu */
.menu {
  width: 6rem;
  height: 6rem;
  background-color: #62a836;
  border-radius: 50%;
  border: 0.1rem solid #e3e2df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 5%;
  right: 3%;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  outline: none;
  z-index: 1500;
}

.menu__one {
  width: 50%;
  height: 0.3rem;
  background-color: #e3e2df;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.menu__one:before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3e2df;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.menu__one:after {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3e2df;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.menu__two {
  width: 50%;
  height: 0.3rem;
  background-color: transparent;
  position: relative;
  outline: none;
}

.menu__two:before {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 100%;
  background-color: #e3e2df;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.menu__two:after {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 100%;
  background-color: #e3e2df;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.menu:hover {
  background-color: #509227;
}

@media screen and (max-width: 1024px) {
  .menu:hover {
    background-color: #62a836;
  }
}

/* End Menu */
/* Navbar */
.header__navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 23rem;
  background-color: #62a836;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .header__navbar {
    width: 100%;
  }
}

/* navbar show */
.show-navbar {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

/* end navbar show */
.header__logo {
  width: 15rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.header__list {
  list-style: none;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.header__item {
  width: 100%;
  margin-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  margin-right: 0.5rem;
  width: 10%;
  font-size: 2.3rem;
}

@media screen and (max-width: 768px) {
  .header__icon {
    font-size: 2rem;
  }
}

.header__link:link,
.header__link:visited {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1.8rem;
  color: #e3e2df;
  outline: none;
  padding: 1rem 1.4rem;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link:hover {
  background-color: #05486b;
  padding-left: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .header__link:hover {
    background-color: transparent;
    padding: 1rem 1.4rem;
  }
}

.header__number {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1.8rem;
  color: #e3e2df;
  outline: none;
  padding: 1rem 1.4rem;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #05486b;
}

/* End Navbar */
@-webkit-keyframes bannerTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes bannerTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes bannerLinks {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes bannerLinks {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.section-padding {
  padding: 3rem 0;
}

/* about */
.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  min-height: 60vw;
  grid-row-gap: 4rem;
}

/* hide && show about */
.hide-left {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.hide-right {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.show-about {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

/* hide && show about */
/* grid container */
.grid-container {
  max-width: 90vw;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2rem;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .grid-container--medium-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    overflow: hidden;
  }
  .grid-container {
    max-width: 95vw;
  }
}

.about__title {
  padding: 1.5rem 0;
}

.about__title-name {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #62a836;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
}

.about__title-underline {
  background: #62a836;
  width: 10rem;
  padding: 0.1rem;
  display: inline-block;
}

.about__title-text {
  letter-spacing: 0.1rem;
  font-size: 1.9rem;
  margin-top: 2.5rem;
  color: #05486b;
}

.about__img-item {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0.25rem;
  border: 0.1rem solid #e0e0e0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__presentation-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .about__presentation-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about__visit-buttons {
  width: 100%;
  height: 5.5rem;
  margin-bottom: 1.5rem;
  outline: none;
}

@media screen and (min-width: 992px) {
  .about__img-special {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .about-container {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

/* end-about */
.map {
  width: 100%;
  min-height: 70vh;
  margin: 2.7rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-item {
  width: 95vw;
  min-height: 60vh;
  border-radius: 0.3rem;
  margin: 0 auto;
}

.footer {
  width: 100%;
  min-height: 40vh;
  background-color: #1a1a1d;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__certificates {
  margin-top: 2rem;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 15vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__certificates-item {
  margin: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__copyrights {
  margin-top: 2.5rem;
}

.footer__copy {
  color: #e3e2df;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.footer__header-quaternary {
  color: #e3e2df;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 0.3rem;
  text-align: center;
}

.contact {
  width: 100%;
}

.contact__container {
  margin-top: 6rem;
  max-width: 95vw;
  margin: 0 auto;
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__contact {
  width: 100%;
  min-height: 60vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__leftSide {
  -webkit-animation: contactForm 0.8s ease-in-out;
          animation: contactForm 0.8s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .contact__leftSide {
    -webkit-animation: none;
            animation: none;
  }
}

.contact__rightSide {
  border-left: 0.1rem solid #62a836;
  -webkit-animation: contactInfo 0.8s ease-in-out;
          animation: contactInfo 0.8s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .contact__rightSide {
    -webkit-animation: none;
            animation: none;
    border: none;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 40vh;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .contact__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__form-alertContainer {
  width: 100%;
  display: block;
  min-height: 5vh;
}

.contact__form-alert {
  text-align: center;
  width: 60%;
  font-size: 2.2rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
  display: inline-block;
}

@media screen and (max-width: 992px) {
  .contact__form-alert {
    width: 100%;
  }
}

.contact__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  color: #05486b;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .contact__form-label {
    width: 100%;
  }
}

.contact__form-input {
  width: 100%;
  height: 5rem;
  border: 0.1rem solid #05486b;
  border-radius: 0.3rem;
  text-indent: 1rem;
  font-size: 1.7rem;
  color: #05486b;
  outline: none;
  padding: 0.2rem;
}

.contact__form-input::-webkit-input-placeholder {
  color: #05486b;
  font-size: 1.7rem;
}

.contact__form-input:-ms-input-placeholder {
  color: #05486b;
  font-size: 1.7rem;
}

.contact__form-input::-ms-input-placeholder {
  color: #05486b;
  font-size: 1.7rem;
}

.contact__form-input::placeholder {
  color: #05486b;
  font-size: 1.7rem;
}

.contact__form-textarea {
  min-height: 12rem;
}

.contact__form-submit {
  margin-top: 2rem;
  padding: 0.8rem 1.8rem;
  display: block;
  border: 0.1rem solid #e3e2df;
  background-color: #05486b;
  color: #e3e2df;
  font-size: 1.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  width: 60%;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  outline: none;
}

@media screen and (max-width: 992px) {
  .contact__form-submit {
    width: 100%;
  }
}

.contact__form-submit:hover {
  background-color: #033652;
}

@media screen and (max-width: 1024px) {
  .contact__form-submit:hover {
    background-color: #05486b;
  }
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 50vh;
}

@media screen and (max-width: 992px) {
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.contact__info-primary {
  color: #62a836;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 992px) {
  .contact__info-primary {
    margin-bottom: 0.8rem;
    width: 100%;
    text-align: center;
  }
}

.contact__info-padding {
  padding: 0.8rem;
}

.contact__info-address {
  margin-top: 0.8rem;
}

@media screen and (max-width: 992px) {
  .contact__info-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__info-ternary {
  font-size: 2.3rem;
  color: #05486b;
  text-transform: uppercase;
}

.contact__info-icon {
  margin-right: 0.8rem;
}

.contact__info-text {
  font-size: 1.7rem;
  color: #05486b;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .contact__info-text {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .contact__info-support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__info-email:link, .contact__info-email:visited {
  color: #05486b;
  text-transform: initial;
  text-align: center;
  text-decoration: none;
}

.contact__info-email:hover {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .contact__info-schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #62a836;
  min-height: 25vh;
  margin-bottom: 8rem;
  -webkit-animation: contactHeader 0.8s ease-in-out;
          animation: contactHeader 0.8s ease-in-out;
}

@media screen and (max-width: 992px) {
  .contact__header {
    -webkit-animation: none;
            animation: none;
  }
}

.contact__home:link,
.contact__home:visited {
  color: none;
  outline: none;
}

.contact__header-logo {
  width: 14rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media screen and (max-width: 992px) {
  .contact__header-logo {
    width: 12rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__header-logo {
    width: 11rem;
  }
}

.contact__header-primary {
  text-align: center;
  font-size: 6rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.3rem;
  color: #e3e2df;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .contact__header-primary {
    font-size: 4.6rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__header-primary {
    font-size: 3.8rem;
  }
}

.success {
  color: #62a836;
}

.error {
  color: #c50000;
}

@-webkit-keyframes contactHeader {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes contactHeader {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes contactForm {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes contactForm {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes contactInfo {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes contactInfo {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.location {
  margin-top: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__header {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
  color: #62a836;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
}

.header__margin--0 {
  margin: 0;
}

.introduction {
  width: 100%;
}

.introduction__container {
  width: 100%;
  min-height: 60vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: showIntroduction 0.8s ease-in-out;
          animation: showIntroduction 0.8s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .introduction__container {
    -webkit-animation: none;
            animation: none;
    width: 100%;
  }
}

.introduction__underline {
  width: 95%;
  margin: 6rem auto;
  background-color: #e0e0e0;
  padding: 0.1rem;
}

.introduction__img-container {
  margin-bottom: 4rem;
  width: 100%;
  min-height: 50vh;
  background-image: url("../../img/whatWeDoIntro.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .introduction__img-container {
    -webkit-animation: none;
            animation: none;
    width: 100%;
  }
}

.introduction__header {
  font-size: 4.5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #e3e2df;
  padding: 1rem 2rem;
  width: 30%;
  text-align: center;
  background-color: rgba(98, 168, 54, 0.6);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 992px) {
  .introduction__header {
    font-size: 3.8rem;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .introduction__header {
    font-size: 3.8rem;
    width: 80%;
  }
}

.introduction__text {
  text-align: center;
  font-size: 1.9rem;
  color: #05486b;
  letter-spacing: 0.1rem;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .introduction__text {
    width: 95%;
  }
}

@-webkit-keyframes showIntroduction {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes showIntroduction {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.capabilities {
  max-width: 95vw;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 6rem;
}

.capabilities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 3rem 0;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .capabilities__container {
    max-width: 90vw;
    margin: 3rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.capabilities__img-container {
  width: 60%;
  margin-right: 2rem;
}

@media screen and (max-width: 1400px) {
  .capabilities__img-container {
    min-height: 30vh;
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .capabilities__img-container {
    min-height: 25vh;
    width: 85%;
  }
}

@media screen and (max-width: 992px) {
  .capabilities__img-container {
    width: 100%;
  }
}

.capabilities__leftSide {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.capabilities__rightSide {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.capabilities__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border: 0.1rem solid #e0e0e0;
  border-radius: 0.25rem;
}

.capabilities__capabilities-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 40vh;
  padding: 0.5rem;
}

@media screen and (max-width: 1400px) {
  .capabilities__capabilities-container {
    min-height: 30vh;
  }
}

@media screen and (max-width: 1200px) {
  .capabilities__capabilities-container {
    min-height: 25vh;
  }
}

.capabilities__header {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  color: #62a836;
}

@media screen and (max-width: 992px) {
  .capabilities__header {
    font-size: 2.4rem;
  }
}

.capabilities__text {
  padding-top: 2rem;
  font-size: 1.7rem;
  color: #05486b;
}

@media screen and (max-width: 992px) {
  .capabilities__text {
    font-size: 1.6rem;
  }
}

.show-capabilities {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.goTo {
  margin-top: 6rem;
  width: 100%;
  min-height: 15vh;
}

.goTo .goTo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
}

.goTo .goTo-text {
  font-size: 3rem;
  color: #05486b;
  text-transform: uppercase;
  margin-right: 3rem;
}

.goTo .goTo-link {
  text-transform: uppercase;
  height: 6rem;
  width: 30%;
}

.header__margin--0 {
  margin: 0;
}

.introduction__img {
  background-image: url("../../img/experienceBcg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.introduction__img-team {
  background-image: url("../../img/teamBcg.jpeg");
}

.team {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /*   &__img-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 */
}

.team__card-container {
  width: 100%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__card {
  width: 28rem;
  height: 41rem;
  background-color: #e3e2df;
  border-radius: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

.team__img {
  width: 22rem;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  padding: 0.45rem;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.team__name {
  text-align: center;
}

.team__job {
  font-size: 1.9rem;
  color: #05486b;
  text-align: center;
}

.active-img .team__img {
  background-color: #62a836;
}
/*# sourceMappingURL=main.css.map */