.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/headerBcg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;

  /* Banner */
  &__banner {
    width: 100%;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 6rem;
    letter-spacing: 0.2rem;
    color: $light-grey;
    font-weight: 300;
    text-align: center;
    display: block;
    animation: bannerTitle 0.8s ease-in-out;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      animation: none;
    }

    @media screen and (max-width: 768px) {
      font-size: 3.8rem;
    }
  }
  &__banner-links {
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
    animation: bannerLinks 0.8s ease-in-out;

    @media screen and (max-width: 1024px) {
      animation: none;
    }

    @media screen and (max-width: 768px) {
      font-size: 4.5rem;
      flex-direction: column;
    }
  }

  &__banner-link {
    text-decoration: none;
    outline: none;
  }

  &__banner--contact:link,
  &__banner--contact:visited {
    display: block;
    color: $light-grey;
    padding: 0.3rem 2.3rem;
    border: 0.1rem solid $light-grey;
    background-color: $nature-green;
    font-size: 2.2rem;
    border-radius: 0.3rem;
    transition: background-color 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  &__banner--contact:hover {
    background-color: $nature-darkGreen;
    @media screen and (max-width: 992px) {
      background-color: $nature-green;
    }
  }

  &__banner--fb:link,
  &__banner--fb:visited {
    display: inline-block;
    font-size: 4rem;
    color: #3b5998;
    transition: color 0.1s ease-in-out;
    @media screen and (max-width: 768px) {
      font-size: 3.2rem;
    }
  }

  &__banner--fb:hover {
    color: #233968;
    @media screen and (max-width: 1024px) {
      color: #3b5998;
    }
  }

  &__banner-number {
    font-size: 2.1rem;
    color: $light-grey;
    margin: 0 3rem;
    letter-spacing: 0.2rem;

    @media screen and (max-width: 768px) {
      font-size: 1.8rem;
      margin: 1.5rem 3rem;
    }
  }
  /* End Banner */
}

/* Menu */
.menu {
  width: 6rem;
  height: 6rem;
  background-color: $nature-green;
  border-radius: 50%;
  border: 0.1rem solid $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5%;
  right: 3%;
  cursor: pointer;
  transition: background-color 0.1s linear;
  outline: none;
  z-index: 1500;

  &__one {
    width: 50%;
    height: 0.3rem;
    background-color: $light-grey;
    position: relative;
    transition: all 0.5s ease-in-out;
    outline: none;
  }

  &__one:before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light-grey;
    transition: all 0.5s ease-in-out;
    outline: none;
  }

  &__one:after {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light-grey;
    transition: all 0.5s ease-in-out;
    outline: none;
  }

  &__two {
    width: 50%;
    height: 0.3rem;
    background-color: transparent;
    position: relative;
    outline: none;
  }

  &__two:before {
    content: "";
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 100%;
    background-color: $light-grey;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
    outline: none;
  }

  &__two:after {
    content: "";
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 100%;
    background-color: $light-grey;
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
    outline: none;
  }
}

.menu:hover {
  background-color: $nature-darkGreen;
  @media screen and (max-width: 1024px) {
    background-color: $nature-green;
  }
}
/* End Menu */

/* Navbar */
.header__navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 23rem;
  background-color: $nature-green;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 999;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

/* navbar show */
.show-navbar {
  transform: translateX(0%);
}
/* end navbar show */

.header__logo {
  width: 15rem;
  height: auto;
  object-fit: cover;
  display: block;
}

.header__list {
  list-style: none;
  width: 100%;
  flex: 0 0 40%;
}

.header__item {
  width: 100%;
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 0.5rem;
  width: 10%;
  font-size: 2.3rem;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.header__link:link,
.header__link:visited {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1.8rem;
  color: $light-grey;
  outline: none;
  padding: 1rem 1.4rem;
  transition: all 0.15s linear;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link:hover {
  background-color: $deepSky-blue;
  padding-left: 2.5rem;

  @media screen and (max-width: 1024px) {
    background-color: transparent;
    padding: 1rem 1.4rem;
  }
}

.header__number {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1.8rem;
  color: $light-grey;
  outline: none;
  padding: 1rem 1.4rem;
  transition: all 0.15s linear;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  background-color: $deepSky-blue;
}
/* End Navbar */
