*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  //font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #f3f3f3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Color variables */
$nature-green: #62a836;
$light-grey: #e3e2df;
$deepSky-blue: #05486b;
/* Color variables */

.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.preloader-loading {
  width: 8rem;
}

.hide-preloader {
  display: none;
}
